@model AddMessageViewModel
<!-- Add message modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="addMessageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="AddMessage">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Description" class="col-form-label">Description:</label>
                        <input asp-for="Description" class="form-control" />
                        <div><span asp-validation-for="Description"></span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
